@font-face {
    font-family: Gelion;
    src: url(./assets/fonts/Gelion-Regular.woff2) format(woff2),
        url(./assets/fonts/Gelion\ Regular.woff) format(woff);
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: Gelion, Arial, sans-serif;
}

body {
   background: linear-gradient(rgb(38, 153, 241), rgb(195, 214, 226) 70%);
   min-height: 100vh;
}

#page-container {
    width: 90%;
    margin: 0 auto;
}

/* Nav Bar */

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
   display: flex;
   flex-direction: row;
   gap: 50px;
}

#search-div {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sr-only { /* Hide label visually, but still lets screen readers access it */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#search-bar {
    width: 400px;
    height: 40px;
    padding: 3px 3px 3px 6px;
    border-radius: 20px;
    border: none;
}

 #search-button {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    background-color: orange;
 }

 #search-button:hover {
    cursor: pointer;
    filter: brightness(115%)
 }

 #temp-switch-button {
   width: 50px;
   height: inherit;
   border: 1px solid gray;
   font-size: 1.2rem;
   border-radius: 15px;
 }

 #temp-switch-button:hover {
   color: white;
   background-color: black;
   cursor: pointer;
 }

 /* Main Page Content */

 #main-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: inherit;
 }

 #forecast-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 145px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }

 #forecast-info {
    background-color: rgba(47, 108, 162, 0.303);
    color: white;
    width: 325px;
    padding: 15px;
    border-radius: 15px;
 }

 #current-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
 }


 #forecast-info h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-info h3 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-info p {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-image-main {
    width: 200px;
 }

 #hourly-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   grid-row: 2 / 3;
   grid-column: 1 / 2;
 }

 .hourly-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgba(47, 108, 162, 0.303);
   color: white;
   width: 150px;
   height: 175px;
   border-radius: 15px;
 }

 .hourly-info {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .small-image {
   width: 50px;
   height: 50px;
 }

#additional-info-container {
   grid-column: 1 / 2;
   grid-row: 3 / 4;
   background-color: rgba(47, 108, 162, 0.303);
   color: white;
   border-radius: 15px;
   padding: 10px;
 }

#additional-info {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
}

.info-div {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.flex-info-holder {
   display: flex; 
   flex-direction: column;
   gap: 10px;
}

.flex-info-holder p {
   margin-top: 0;
   margin-bottom: 0;
}

.info-med-text {
   font-size: 1.3rem;
}

.info-bold-text {
   font-size: 1.7rem;
}

#humidity-info {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}

#feels-like-info {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

#uv-index-info {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
}

#wind-speed-info {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
}

 #side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    gap: 5px;
 }

#side-head {
   background-color: rgba(47, 108, 162, 0.303);
   width: 200px;
   font-size: 1.2rem;
   display: flex;
   justify-content: center;
   border-radius: 15px;
   color: white;
}

#side-head h3 {
   margin-top: 0;
   margin-bottom: 0;
}

#side-body {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.outlook-container {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 10px;
   width: 400px;
   color: white;
   background-color: rgba(47, 108, 162, 0.303);
   border-radius: 15px;
} 