@font-face {
    font-family: Gelion;
    src: url(./assets/fonts/Gelion-Regular.woff2) format(woff2),
        url(./assets/fonts/Gelion\ Regular.woff) format(woff);
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: Gelion, Arial, sans-serif;
}

body {
    background: linear-gradient(rgb(38, 153, 241), rgb(195, 214, 226) 70%);
    min-height: 100vh;
}

#page-container {
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
}

/* Nav Bar */

#header {
    border: 1px solid lime;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-div {
    border: 1px solid blue;
    display: flex;
    gap: 5px;
    align-items: center;
}

.sr-only { /* Hide label visually, but still lets screen readers access it */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#search-bar {
    width: 400px;
    height: 40px;
    padding: 3px 3px 3px 6px;
    border-radius: 20px;
    border: none;
}

 #search-button {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    background-color: orange;
 }

 #search-button:hover {
    cursor: pointer;
    filter: brightness(115%)
 }

 /* Main Page Content */

 #main-info {
    border: 1px solid navy;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: inherit;
 }

 #forecast-container{
    border: 1px solid fuchsia;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 145px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }

 #forecast-info {
    border: 1px solid aqua;
    background-color: rgba(47, 108, 162, 0.303);
    color: white;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
 }

 #current-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
 }


 #forecast-info h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-info h3 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-info p {
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0;
 }

 #forecast-image-main {
    width: 200px;
 }

 #side-container {
    border: 1px solid lawngreen;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
 }