:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgb(38, 153, 241), rgb(195, 214, 226) 70%);
    height: 100vh;
    width: 100vw;
}

#page-container {
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}

#header {
    border: 1px solid lime;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-div {
    border: 1px solid blue;
    display: flex;
    gap: 5px;
    align-items: center;
}

.sr-only { /* Hide label visually, but still lets screen readers access it */
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#search-bar {
    width: 400px;
    height: 40px;
    padding: 3px 3px 3px 6px;
    border-radius: 20px;
    border: none;
}

 #search-button {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    background-color: orange;
 }

 #search-button:hover {
    cursor: pointer;
    filter: brightness(115%)
 }